.details{
    margin-right: 10%;
}
.customer{
    margin-right: 10%;
}
.user-table{
    margin-left: auto;
    margin-right: auto;
}

.table-user{
    border-radius: 15px;
    background-color:white;
}

